REACT_APP_SERVER_URL= #
REACT_APP_GATEWAY_URL=

# casdoor

REACT_APP_CASDOOR_CLIENT_ID=
REACT_APP_CASDOOR_REDIRECT_URI=
REACT_APP_CASDOOR_RESPONSE_TYPE=
REACT_APP_CASDOOR_SCOPE=
REACT_APP_CASDOOR_STATE=
